body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.taskCard{
  position: relative;
  margin-bottom: 10px;
}




/* .task-card {
  margin: 0 auto;
  z-index: 99999;
}

.task-card:hover {
  cursor: grab;
} */

/* .ui-droppable{
  min-height: 60vh;
  border: solid blue 5px;
}

.ui-droppable-active{
  border:solid green 5px;
}

.ui-droppable-hover{
  border: solid yellow 5px;
} */

.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.white{
  background-color: white;
}